@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");

/* Сбрасываем дефолтные стили и устанавливаем своим */
body {
    background: #f5f5f5;
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    color: #333;
    font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    padding: 0;
    margin: 0;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    color: #333;
    font-weight: 400;
}

* {
    box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
}

input,
button {
    border: none;
    background: none;
    outline: none;
    color: #b0b0b0;
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
}

a {
    color: #333;
    text-decoration: none;
}

ul,
li {
    padding: 0;
    margin: 0;
    list-style: none;
}

.pointer {
    cursor: pointer;
}

.d-none {
    display: none !important;
}

/* Начало основной стилизации */
.wrapper {
    position: relative;
    z-index: 0;

    width: 1024px;
    height: 700px;
    margin: 0 auto;
}

/* Стили для навигации с формой поиска */
.nav {
    display: flex;
    align-items: center;
    justify-content: start;

    width: 100%;
    height: auto;
    padding: 20px;

    background: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.navUserIcon {
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    z-index: 0;

    background-image: url(../assets/userIcon.png);
}

.navUserIconFill {
    fill: #9873ff;
}

.navUserIconContent {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;

    color: #fff;
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.navSearchForm {
    margin-left: 53px;
    width: 581px;
}

.navSearchFormInput {
    width: 100%;
    padding: 12px 16px 13px 16px;
    border: 1px solid rgba(51, 51, 51, 0.2);
}

.navSearchFormInput::placeholder {
    color: var(--txt-grey, #b0b0b0);
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/* Стили для экран где будут отображаться данные */
.headScreen {
    width: 100%;
    padding: 40px 20px 102px 20px;
}

.headScreenTitle {
    font-size: 24px;
    font-weight: 700;
}

.headScreenData {
    width: 100%;
    height: auto;
    table-layout: auto;
    border: none;
    margin: 10px 0 40px 0;
}

/* Стили таблицы */
.divTable {
    width: 984px;
    height: 360px;
    margin: 0 auto;

    overflow: visible;
}

.divTHeaders {
    display: flex;
    align-items: flex-end;

    width: 100%;
    height: 50px;

    color: #b0b0b0;
    font-size: 12px;
    font-weight: 400;
}

.divTHeaderActive {
    color: #9873ff;
}

.divTHeaderArrowDown,
.divTHeaderArrowUp {
    background: url(../assets/arrowDown.png) no-repeat left;
    padding-left: 12px;
    font-size: 10px;
    font-weight: 600;
    color: #9873ff;
}

.divTHeaderArrowUp {
    background: url(../assets/arrowUp.png) no-repeat left;
}

.idCol {
    width: 110px;
    text-align: center;
    padding: 10px;
}

.fioCol {
    width: 230px;
    padding: 10px;
}

.dateCol {
    width: 138px;
}

.dateCol-headerDate {
    padding: 10px 38px 10px 10px;
}

.contactCol {
    width: 118px;
    padding: 10px;
}

.actionCol {
    width: auto;
    padding: 10px;
}

.divTBody {
    width: 100%;
    height: 300px;
    background-color: #fff;

    overflow-y: scroll;
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;
}
.divTBody::-webkit-scrollbar {
    width: 0 !important;
}

.divTBodyItem {
    display: flex;
    align-items: center;
    width: 100%;
    height: 60px;

    background-color: #fff;
    border-bottom: 1px solid #e7e5eb;

    padding: 10px;
}

.itemId {
    color: #b0b0b0;
    font-size: 12px;
}

.itemFullName {
    padding: 0;
}

.itemDateTime {
    display: inline;
    color: #b0b0b0;
    padding-left: 10px;
}

.itemContacts {
    width: 118px;
    display: flex;
    flex-wrap: wrap;
    row-gap: 7px;
    column-gap: 7px;
    margin: 0;
    padding-left: 0;
}

.itemContactsEmailIcon,
.itemContactsPhoneIcon,
.itemContactsFBIcon,
.itemContactsVKIcon,
.itemContactsDefaultIcon {
    position: relative;

    width: 16px;
    height: 16px;
    border-radius: 50%;
}

.itemContactsDefaultIcon {
    background: url(../assets/rest.png) no-repeat center;
}
.itemContactsVKIcon {
    background: url(../assets/vk.png) no-repeat center;
}

.itemContactsFBIcon {
    background: url(../assets/facebook.png) no-repeat center;
}

.itemContactsPhoneIcon {
    background: url(../assets/phone.png) no-repeat center;
}

.itemContactsEmailIcon {
    background: url(../assets/email.png) no-repeat center;
}

.toggleBtnContact {
    width: 16px;
    height: 16px;
    padding: 2.5px 3px;
    text-align: center;

    background: url(../assets/circle.png) no-repeat center;
}

/* contactInfoWrapper */

.contactInfoWrapper {
    position: absolute;
    top: -30px;
    left: 49%;
    z-index: 9999;
    transform: translate(-50%, 0);

    background: #333;
    width: max-content;
    height: 23px;

    text-align: center;
    padding: 0px 7px;
}

.contactInfoWrapper::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -8px;
    transform: translateX(-50%);

    display: block;
    width: 10px;
    height: 10px;
    rotate: 45deg;

    background-color: #333;
}

.contactInfoWrapperDown {
    position: absolute;
    top: 24px;
    left: 49%;
    z-index: 9999;
    transform: translate(-50%, 0);

    background: #333;
    width: max-content;
    height: 23px;

    text-align: center;
    padding: 0px 7px;
}

.contactInfoWrapperDown::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 15px;
    z-index: 9999;
    transform: translateX(-50%);

    display: block;
    width: 10px;
    height: 10px;
    rotate: 45deg;

    background-color: #333;
}

.contactInfo {
    color: #fff;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.contactInfoId {
    color: #b89eff;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration-line: underline;
}

.toggleBtnContent {
    font-size: 8px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.itemActions {
    display: flex;
    column-gap: 30px;
    padding: 10px;
}

.btnRemove,
.btnEdit {
    position: relative;
    padding-left: 17px;
}

.btnEditIcon {
    position: absolute;
    width: 16px;
    height: 16px;
    top: 3px;
    left: 0;

    background: url(../assets/pen.png) no-repeat left;
    pointer-events: none;
}

/* Стили анимации спинера кнопки "Изменить" */
.btnEditPending {
    color: #9873ff;
}

.btnEditPendingIcon {
    position: absolute;
    width: 16px;
    height: 16px;
    top: 3px;
    left: 0;

    /* border: 2px solid #f3f3f3;
    border-top: 2px solid #9873ff; */
    border-radius: 50%;
    background: url(../assets/pennding.png) no-repeat left;
    animation: spinner-rotate 1s linear infinite;
}

@keyframes btnEditPending-rotate {
    to {
        transform: rotate(360deg);
    }
}

.btnRemove {
    background: url(../assets/cross.png) no-repeat left;
}

/* Создаем кнопку добавления клиента */
.addClient {
    display: block;
    margin: 40px auto 0 auto;

    background: url(../assets/addUser.png) no-repeat 26.5px;
    padding: 12.5px 26.5px 12.5px 58.5px;

    color: #9873ff;
    border: 1px solid #9873ff;
}
.addClient:hover,
.addClient:focus {
    background-color: #9873ff;
    background-image: url(../assets/addUserFocus.png);
    background-repeat: no-repeat;
    background-position: 26.5px;

    color: #fff;
    border: 1px solid #9873ff;

    transition: 0.3s;
}

/* Стили спинера загрузки данных */
.spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;

    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;

    background-color: #fff;
}

.spinnerIcon {
    width: 36px;
    height: 36px;
    /* border: 4px solid #f3f3f3;
    border-top: 4px solid #3498db; */
    border-radius: 50%;
    background: url(../assets/spinner.png) no-repeat center;
    animation: spinner-rotate 1s linear infinite;
    pointer-events: none;
}

@keyframes spinner-rotate {
    to {
        transform: rotate(360deg);
    }
}

/* Стили модального окна */
.modal {
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    z-index: 0;

    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modalContentDelete,
.modalContent {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;

    padding: 30px 0 29px 0;
    background-color: #fff;
    border: 1px solid #888;
    box-shadow: 0px 0px 35px 0px rgba(0, 0, 0, 0.15);

    width: 450px;
    height: auto;
}

.modalContentDeleted {
    padding: 22px 0 27px 0;
    text-align: center;
}

.modalClose {
    position: absolute;
    top: 15px;
    right: 15px;
    z-index: 999;

    width: 29px;
    height: 29px;
    background: url(../assets/closeModal.png) no-repeat center;
}

.modalClose:hover,
.modalClose:focus {
    cursor: pointer;
}

.modalTitle {
    margin: 0 0 30px 32px;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
}

.modalTitleDeleted {
    text-align: center;
    margin-bottom: 11px;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
}

.modalTextDeleted {
    width: 275px;
    margin: 0 auto;

    color: #333;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.clientId {
    position: absolute;
    top: 36px;
    left: 50%;

    color: #b0b0b0;
    font-size: 12px;
}

.modalFormDeleted,
.modalForm {
    width: 100%;
    text-align: center;
}

.modalFormDeleted {
    margin-top: 25px;
}

.inputGroup {
    position: relative;
    text-align: start;
}

.modalLabel {
    margin-left: 30px;
    color: #b0b0b0;
    font-size: 10px;
}

.labelStar {
    display: inline;
    color: #9873ff;
    font-size: 10px;
}

.modalInput {
    display: block;
    width: 390px;
    margin: 0 auto;
    margin-bottom: 32px;

    padding: 4px;
    border-bottom: 1px solid #c8c5d1;
    color: #333;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
}

.starName,
.starSurname,
.star {
    position: absolute;
    top: 1px;
    left: 95px;
    color: #9873ff;
}

.starName {
    left: 61px;
}

.inputClientId,
.modalInputDeleted {
    position: absolute;
    width: 0;
    height: 0;
    padding: 0;
    border: 0;
    font-size: 0;
    line-height: 0;
}

.modalInput::placeholder {
    color: #b0b0b0;
    font-weight: 400;
}

.notValid {
    border-bottom: 1px solid red;
}
.notValid::placeholder {
    color: red;
}

.addContact {
    width: 100%;

    margin-bottom: 25px;
    padding: 8px 0;

    background: #c8c5d149;
}

.addContactItems {
    width: 100%;
}

.addContactItemsScroll {
    overflow-y: scroll;
    max-height: 240px;
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;
}

.addContactItemsScroll::-webkit-scrollbar {
    width: 0 !important;
}

.addContactBtn {
    background: url(../assets/circlePlus.png) no-repeat left;
    padding-left: 20px;
    font-weight: 600;
    color: #333;
}

.errorMessage {
    width: 255px;
    margin: 9px auto;
    color: #f06a4d;
    text-align: center;
    font-size: 10px;
}

.submitBtn {
    padding: 17px 35px;
    background: #9873ff;

    color: #fff;
    font-weight: 600;
}

.submitBtn:hover,
.submitBtn:focus {
    background: #8261da;

    color: #fff;
}

.cancelOrRemove {
    display: block;
    margin: 0 auto;
    margin-top: 5px;

    color: #333;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration-line: underline;
}

/* Создаем стили для комбинации select + input */
.contactWraper {
    position: relative;
    display: flex;
    align-items: center;

    width: 390px;
    height: 37px;
    margin: 15px auto;
}

.selectWraper {
    position: relative;
    width: 123px;
    height: 37px;
    /* overflow: hidden; */
}

.select {
    width: 100%;
    height: 100%;

    font-size: 12px;
    text-align: start;
    padding: 10px 12px;

    border: 1px solid #c8c5d1;
    border-right: none;
    background: #e7e5eb;
    outline: 0px;

    cursor: pointer;

    /* for Firefox */
    -moz-appearance: none;
    -moz-appearance: none;
    /* for Chrome */
    -webkit-appearance: none;
    -webkit-appearance: none;
}
.select::-ms-expand {
    /* IE */
    display: none;
    border: 1px solid #c8c5d1;
    border-right: none;
    background: #e7e5eb;
    cursor: pointer;
}

.selectArrowUp,
.selectArrowDown {
    z-index: 1;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    left: 103px;

    width: 12px;
    height: 12px;

    background: url(../assets/arrowDownSelect.png) no-repeat center;
    pointer-events: none;
}

.selectArrowUp {
    background: url(../assets/arrowUpSelect.png) no-repeat center;
}

.selectLists {
    position: absolute;
    width: 121px;
    z-index: 2;
    transform: translateY(0);

    border: 1px solid #c8c5d1;
    background-color: #f4f3f6;
}

.selectLists-up {
    bottom: 35px;
}

.selectLists-down {
    top: 35px;
}

.selectListsItem {
    width: 121px;
    padding: 9.5px 12px;

    font-size: 12px;
}

.selectListsItem:hover,
.selectListsItem:focus {
    cursor: pointer;
    background-color: #e9e7eb;
}

.inputContact {
    width: 241px;
    height: 37px;

    color: #333;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding: 8.5px 12px;

    border: 1px solid #c8c5d1;
    border-left: none;
}

.deleteBtn {
    width: 27px;
    height: 100%;

    border: 1px solid #c8c5d1;
    border-left: none;

    cursor: pointer;

    background-color: #e7e5eb;
    background-image: url(../assets/deleteBtn.png);
    background-position: center;
    background-repeat: no-repeat;
}

@media (max-width: 768px) {
    .divTable,
    .wrapper {
        width: 768px;
    }

    .fioCol {
        width: 200px;
    }

    .dateCol,
    .dateCol-headerDate {
        width: 102px;
        padding: 10px;
    }

    .contactCol {
        width: 108px;
    }

    .actionCol {
        width: 86px;
    }

    .itemDate {
        padding-left: 0;
    }

    .itemDateTime {
        display: block;
        padding-left: 0;
    }

    .itemContacts {
        width: 108px;
        row-gap: 4px;
        column-gap: 4px;
    }

    .itemActions {
        display: block;
        column-gap: 0;
        padding-left: 0;
    }
}

@media (max-width: 320px) {
    .wrapper {
        width: 320px;
    }

    .navUserIcon {
        position: relative;
        display: block;
        width: 24px;
        height: 24px;
        margin: 0 auto;
        border-radius: 50%;
        z-index: 0;

        background-image: url(../assets/userIconMobile.png);
    }

    .navSearchForm {
        display: none;
    }

    .navUserIconContent {
        font-size: 8.64px;
    }

    .headScreen {
        overflow-x: scroll;
        -ms-overflow-style: none;
        overflow: -moz-scrollbars-none;
    }

    .headScreen::-webkit-scrollbar {
        width: 0 !important;
    }

    .modalContentDelete,
    .modalContent {
        width: 300px;
        height: auto;
    }

    .modalInput {
        width: 270px;
    }

    .addContactScroll {
        overflow-y: scroll;
        max-height: 100px;
        -ms-overflow-style: none;
        overflow: -moz-scrollbars-none;
    }

    .contactWraper {
        width: 270px;
    }

    .selectWraper {
        width: 110px;
    }

    .selectArrowUp,
    .selectArrowDown {
        left: 90px;
    }

    .selectListsItem {
        width: 108px;
    }

    .inputContact {
        width: 130px;
    }

    .starName,
    .starSurname,
    .star {
        left: 82px;
    }

    .starName {
        left: 48px;
    }

    .addClient {
        position: fixed;
        left: 50%;
        transform: translateX(-50%);

        width: 216px;
        height: 45px;
    }

    .spinner {
        position: fixed;
        top: 360px;
        width: 100vw;
        height: 36px;
        padding: 36px 36px;
        pointer-events: none;

        overflow-x: scroll;
        -ms-overflow-style: none;
        overflow: -moz-scrollbars-none;
        background: none;
    }

    .spinner::-webkit-scrollbar {
        width: 0 !important;
    }
}
